#content {
  width: 80%;
  height: 200%;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.filters {
  width: 100%;
}

#menu {
  width: 30%;
}

.main-page-button {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 10px;
}

#products {
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0px 6px 20px;
}

.pagination-controls  {
  text-align: right;
}

.filter-section {
  width: 80%;
  height: 60px;
  display: flex;
  background: #FFF0F7;
  margin: auto;
  margin-top: 6px;
}




