.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.label-div {
  width: 30%;
  text-align: right;
}

.filters {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0 10px 10px;
}

#price-filter {
  display: flex;
}

#regex-filter {
  display: flex;
}

.first-column {
  width: 120px;
}

.second-column {
  width: 420px;
  text-align: right;
}

.regex-input {
  width: 332px;
}
