#content {
  width: 80%;
  height: 200%;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.finish-button {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
