#containter {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;

  margin-bottom: 6px;
  background: #F7F7F7;
}

.price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 12px;
}

.main-section {
  padding: 10px 10px 10px 10px;
}

/*.product:last-child {
  border-bottom: 0 solid black;
  background: #9de489;
}*/
