#content {
  width: 80%;
  height: 200%;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  flex-direction: column;
}

.subtitle {
  font-size: 28px;
  font-family: "Roboto";
  font-weight: 100;
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
}

th {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding-bottom: 6px;
}

td {
  border-bottom: .5px solid rgba(0, 0, 0, .2);
  padding-bottom: 6px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

