/* You can add global styles to this file, and also import other style files */

.roboto-light {
  font-family: "Roboto";
  font-weight: 100;
}

.roboto-regular {
  font-family: "Roboto";
  font-weight: 400;
}

.roboto-medium {
  font-family: "Roboto";
  font-weight: 500;
}

.large-font {
  font-size: 28px;
}

.medium-font {
  font-size: 20px;
}

.right-padding-standard {
  padding-right: 6px;
}

.margin-top {
  margin-top: 12px;
}

.right {
  text-align: right;
  float: right;
}

.accented-content {
  width: 132px;
  color: #5e5e5e;
  background: #FFF0F7;
  text-align: center;
  border-radius: 18px;
  border: 2px solid #d3d3d3;
  padding-top: 6px;
  padding-bottom: 6px;
}

.secondary-accented-content {
  width: 132px;
  color: #5e5e5e;
  background: #d3d3d3;
  text-align: center;
  border-radius: 18px;
  border: 2px solid #FFF0F7;
  padding-top: 6px;
  padding-bottom: 6px;
}

.shopping-cart-header {
  display: inline-block;
  margin: auto 0 auto 0;
}

#title-header {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 40px;
  background: black;
  color: #7e7e7e;
}

.main-container {
  width: 100%;
  height: auto;
  border-top: 1px solid rgba(0, 0, 0, .5);
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

.error {
  background: red;
  padding-top: 2px;
  padding-bottom: 2px;
}
